@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body[theme="qbCore"] {
 --black:#171717;
 --blackTransparent:#17171740;
 --grayLight:#CFCFCF;
 --grayDark:#808080;
 --grayPrime:#3D3D3D;
 --green:#008800;
 --red:#DC143C;
 --redAlt:#940C28;
 --white:#EFEFEF;
 --fontPrimary:'Poppins', sans-serif;
}
/*
┏┓━━━┏━━━┓┏┓━━┏┓┏━━━┓┏┓━┏┓┏━━━━┓
┃┃━━━┃┏━┓┃┃┗┓┏┛┃┃┏━┓┃┃┃━┃┃┃┏┓┏┓┃
┃┃━━━┃┃━┃┃┗┓┗┛┏┛┃┃━┃┃┃┃━┃┃┗┛┃┃┗┛
┃┃━┏┓┃┗━┛┃━┗┓┏┛━┃┃━┃┃┃┃━┃┃━━┃┃━━
┃┗━┛┃┃┏━┓┃━━┃┃━━┃┗━┛┃┃┗━┛┃━┏┛┗┓━
┗━━━┛┗┛━┗┛━━┗┛━━┗━━━┛┗━━━┛━┗━━┛━
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
body {
 overflow:hidden;
 cursor:default;
}
#container {
 display:none;
 height:50vh;
}
#menuContainer {
 display:flex;
 flex-flow:row nowrap;
 justify-content:flex-start;
}
#mainMenuContainer {
 position:absolute;
 background-position:center center;
 backface-visibility:hidden;
 width:34.3vh;
 height:50vh;
 top:5vh;
 background-size:cover;
 border-radius:2vh;
 padding:0vh;
 box-shadow:18px 0px 30px -12px var(--black);
 z-index:9999;
 background-color:var(--grayPrime);
}
#mainMenuHeader {
 display:flex;
 align-items:center;
 position:relative;
 border-radius:2vh 2vh 0 0;
 background:var(--red);
 color:var(--white);
}
#mainMenuHeaderH1Container {
 position:relative;
 flex:1;
 margin:0;
}
#mainMenuHeaderH1 {
 text-align:center;
 font-family:var(--fontPrimary);
 font-weight:400;
 font-size:1.65vh;
}
#mainMenuCloseContainer {
 position:relative;
}
#closeButton {
 position:relative;
 padding:0 0;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 border-style:none;
 background-color:var(--red);
 color:var(--white);
}
#closeButton:hover {
 color:var(--black);
}
#closeButton i {
 white-space:normal;
}
#mainMenuActionButtons {
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:0.5vh;
}
.mainMenuActionButtonItem {
 white-space:normal;
}
.mainMenuActionButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:1rem;
 font-weight:600;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--white);
 color:var(--red);
}
.mainMenuActionButton:hover {
 background:var(--red);
 color:var(--white);
}
#mainMenuContent {
 position:relative;
 padding:1vh 1vw 0vh 1vw;
 height:42.5vh;
 overflow-y:auto;
}
#mainMenuContent::-webkit-scrollbar {
 width:1vh;
}
#mainMenuContent::-webkit-scrollbar-track {
 border-radius:20px;
 border:3px solid var(--black);
 background:var(--black);  /* color of the tracking area */
}
#mainMenuContent::-webkit-scrollbar-thumb {
 border-radius:20px;
 border:3px solid var(--black);
 background-color:var(--red); /* color of the scroll thumb */
}
.mainMenuNavButtons {
 position:relative;
 width:100%;
 max-height:41.5vh;
 display:grid;
 gap:0.5vh;
}
.mainMenuNavButtonItem {
 white-space:normal;
}
.mainMenuNavButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--white);
 color:var(--red);
}
.mainMenuNavButton:hover {
 background:var(--red);
 color:var(--white);
}
.mainMenuNavSubButtons {
 display:none;
 margin:0.5vh 0 0 3vh;
 gap:0.5vh
}
.mainMenuNavSubButtonItem {
 margin:0.5vh 0vh;
}
.mainMenuNavSubButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--grayLight);
 color:var(--redAlt);
}
.mainMenuNavSubButton:hover {
 background:var(--redAlt);
 color:var(--grayLight);
}
#mainMenuContent footer {
 white-space:normal;
}
.mainMenuContentContainer {
 display:grid;
}
.mainMenuContentContainer td:nth-child(odd) {
 width:40%;
}
.mainMenuContentContainer td:nth-child(even) {
 width:60%;
}
.mainMenuContentContainer tr:nth-child(odd) {
 background-color:var(--white)
}
.mainMenuContentContainer tr:nth-child(even) {
 background-color:var(--grayLight)
}
.mainMenuContentButtonActivate {
 background-color:var(--green);
 color:var(--white);
 border-radius:2vh;
 box-shadow:18px 0px 30px -12px var(--black);
}
.mainMenuContentButtonActivate:hover {
 background:var(--white);
 color:var(--green);
}
.mainMenuContentActive {
 color:var(--red);
 border-radius:2vh;
 box-shadow:18px 0px 30px -12px var(--black);
}
.mainMenuContentPending {
 color:var(--black);
 border-radius:2vh;
 box-shadow:18px 0px 30px -12px var(--black);
}
.mainMenuContentButtonQuit {
 background:var(--red);
 color:var(--white);
 border-radius:2vh;
 box-shadow:18px 0px 30px -12px var(--black);
}
.mainMenuContentButtonQuit:hover {
 background:var(--white);
 color:var(--red);
}
#subMenuContainer {
 position:absolute;
 border-radius:2vh;
 transition:transform 300ms linear;
 height:48vh;
 background-position:center center;
 backface-visibility:hidden;
 background-size:cover;
 width:34vh;
 margin:0 auto;
 top:6vh;
 z-index:3;
 transform:translateX(0vh);
 box-shadow:18px 0px 30px -12px var(--black);
 background-color:var(--grayPrime);
}
#subMenuContainer.open {
 transform:translateX(33vh);
}
#subMenuContainer.open header  {
 background:var(--red);
 color:var(--white);
}
#subMenuHeader {
 display:flex;
 flex:1;
 align-items:center;
 position:relative;
 border-radius:0 2vh 0 0;
}
#subMenuHeaderH1Container {
 position:relative;
 flex:1;
 margin:0;
}
#subMenuHeaderH1 {
 text-align:center;
 font-family:var(--fontPrimary);
 font-weight:400;
 font-size:1.65vh;
}
#subMenuRetractContainer {
 position:relative;
}
.subMenuRetractButton {
 position:relative;
 padding:0 0;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 border-style:none;
 background-color:var(--red);
 color:var(--white);
}
.subMenuRetractButton i {
 white-space:normal;
}
.subMenuRetractButton:hover {
 color:var(--black);
}
#subMenuActionButtons {
 position:relative;
 padding:1vh 2vh;
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:0.5vh;
 border-bottom:solid var(--grayDark);
}
.subMenuActionButtonItem {
 white-space:normal;
}
.subMenuActionButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:1rem;
 font-weight:600;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--white);
 color:var(--red);
}
.subMenuActionButton:hover {
 background:var(--red);
 color:var(--white);
}
#subMenuContent {
 position:relative;
 height:28vh;
 overflow-y:auto;
}
#subMenuContent::-webkit-scrollbar {
 width:1vh;
}
#subMenuContent::-webkit-scrollbar-track {
 border-radius:20px;
 border:3px solid var(--black);
 background:var(--black);
 background-color:var(--red);
}
#subMenuContent::-webkit-scrollbar-thumb {
 border-radius:20px;
 border:3px solid var(--black);
}
.subMenuNavButtons {
 position:relative;
 width:100%;
}
.subMenuNavButtonItem {
 margin:0.5vh 2vh;
}
.subMenuNavButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background:var(--white);
 color:var(--black);
}
.subMenuNavButton:hover {
 background:var(--white);
 color:var(--red);
}
.subMenuNavSubButtons {
 display:none;
 margin:0.5vh 0 0 3vh;
 gap:0.5vh
}
.subMenuNavSubButtonItem {
 margin:0.5vh 0vh;
}
.subMenuNavSubButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--grayLight);
 color:var(--redAlt);
}
.subMenuNavSubButton:hover {
 background:var(--redAlt);
 color:var(--grayLight);
}
.subMenuContentBody {
 background:var(--white);
 padding:1vh 2vw;
}
#subMenuFooter {
 white-space:normal;
}
#contentContainer {
 position:absolute;
 border-radius:0vh 2vh 2vh 0vh;
 transition:transform 300ms linear;
 margin:8vh 0 0 0;
 height:46vh;
 background-position:center center;
 backface-visibility:hidden;
 width:32vh;
 top:-1vh;
 background-size:cover;
 box-shadow:0px 0px 2px 2px var(--blackTransparent);
 z-index:2;
 transform:translateX(0vh);
 transition:transform 300ms linear;
 background-color:var(--grayPrime);
}
#contentContainer.open {
 transform:translateX(66vh);
}
#contentContainer.open header {
 background:var(--red);
 color:var(--white);
}
#contentHeader {
 display:flex;
 align-items:center;
 position:relative;
 border-radius:0 2vh 0 0;
 background:var(--red);
 color:var(--white);
}
#contentHeaderH1Container {
 position:relative;
 flex:1;
 margin:0;
}
#contentHeaderH1 {
 text-align:center;
 font-family:var(--fontPrimary);
 font-weight:400;
 font-size:1.65vh;
}
#contentRetractContainer {
 position:relative;
}
.contentRetractButtonContainer {
 position:relative;
 width:auto;
 margin:0 auto;
 height:100%;
}
.contentRetractButton {
 position:relative;
 padding:0 0;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 border-style:none;
 background-color:var(--red);
 color:var(--white);
}
.contentRetractButton:hover {
 color:var(--black);
}
.contentRetractButton i {
 white-space:normal;
}
#contentActionButtons {
 position:relative;
 margin:0.5vh 0 0 3vh;
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:0.5vh
}
.contentActionButtonItem {
 height:0vh
}
.contentActionButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:1rem;
 font-weight:600;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
}
#content {
 position:relative;
 display:grid;
 height:27vh;
 padding:1.5vh;
 background-color:var(--white);
 border-radius:0vh 0vh 2vh;
 overflow-y:auto;
}
#content::-webkit-scrollbar {
 width:1vh;
}
#content::-webkit-scrollbar-track {
 border-radius:20px;
 border:3px solid var(--black);
 background:var(--black);
}
#content::-webkit-scrollbar-thumb {
 border-radius:20px;
 border:3px solid var(--black);
 background-color:var(--red);
}
form {
 margin:0 auto;
}
.formInput {
 padding:0.5vh;
 margin:.2vh;
 font-family:var(--fontPrimary);
 font-size:1.5vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--grayLight);
 color:var(--redAlt);
}
.formButton {
 position:relative;
 margin:1vh .2vw;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:1.5vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 border-style:none;
 border-radius:0.5vw;
 background-color:var(--grayLight);
 color:var(--redAlt);
 cursor:pointer;
}
.formButton:hover {
 background:var(--redAlt);
 color:var(--grayLight);
}
table.deets {
 text-align:center;
 font-size:1.2rem;
}
table.deets th {
 border-radius:1vh 0vh 0vh 1vh;
 width:20%;
 background-color:var(--grayDark);
}
table.deets td {
 border-radius:0vh 1vh 1vh 0vh;
 width:80%;
 background-color:var(--grayLight);
}
table.stats {
 white-space:normal;
 text-align:center !important;
 font-size:1.5rem;
}
table.stats tr th {
 border-radius:1vh 1vh 0vh 0vh;
 width:33.333%;
 background-color:var(--grayDark);
}
table.stats tr td {
 border-radius:0vh 0vh 1vh 1vh;
 background-color:var(--grayLight);
}
.contentNavButtons {
 display:grid;
 gap:0.5vh;
}
.contentNavButtonItem {
 white-space:normal;
}
.contentNavButton {
 position:relative;
 width:100%;
 margin:0 auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 letter-spacing:0.05vh;
 border-style:none;
 border-radius:0.5vw;
}
.contentNavSubButton {
 position:relative;
 width:auto;
 padding:0.5vh;
 font-family:var(--fontPrimary);
 font-size:2vh;
 font-weight:400;
 text-transform:uppercase;
 text-align:left;
 letter-spacing:0.05vh;
 border-style:none;
 border-radius:0.5vw;
}
.hireable {
 background-color:var(--green);
 color:var(--white);
}
.contentBody {
 font-size:1.5rem;
}
ul.contentList li:nth-child(even) {
 background-color:var(--grayDark)
}
ul.contentList li:nth-child(odd) {
 background-color:var(--grayLight)
}
.contentList {
 background-color:var(--white);
 color:var(--red)
}
.contentListItem {
 white-space:normal;
}
.contentList i {
 white-space:normal;
}
#contentFooter {
 white-space:normal;
}
.whiteBG {
 background-color:var(--white);
 color:var(--red);
 font-size:2vh;
 padding:1vh;
 margin:0.5vh 0 0 0;
 border-radius:2vh;
 box-shadow:18px 0px 30px 0px var(--black);
}
.blackListed {
 background-color:var(--black);
 color:var(--white);
 padding:1vh;
}
.blackListed h3 {
 text-align:center;
}
.logo {
 background-image:url("./qb.png");
 background-size:20vh 20vw;
 background-repeat:no-repeat;
 background-position-y:bottom;
 background-position-x:center;
}
nav {
 padding:0;
}
button {
 cursor:pointer;
}
button:hover {
 cursor:pointer;
}
button i {
 padding:0 2vh 0 0;
}
.position {
 color:var(--black);
}